h1, h2, h3 {
font-family: "Linux Biolinum", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.nobreak {
    white-space: nowrap;
}

div.title h2 {
    margin-top: 0;
    padding-top: 0;
}

div.title {
    width: 90%;
}

div.title h1 {
    margin-bottom: 0.2em;
    font-size: 2.5rem;
}

p {
    width: 90%;
    text-align: justify;
}

html {
    font-size: 100%;
}

.hidemobile {
    display: none;
}

.overflow-left {
    justify-content: flex-end;
}

.mobile-scroll {
    overflow: scroll;
}

footer {
    width: 87.5%;
    text-align: center;
}

table {
    width: 90%;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}
