.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#deck-matches {
    width: min-content;
}

#deck-matches table, #deck-details table {
    width: initial;
}

#deck-matches td, #deck-details td {
    padding-right: 1vw; /* padding gets smaller on smaller screens...but not too small */
    white-space: nowrap;
}

.ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20vw;
}

.deck-sections {
    -webkit-columns: 3 20em;
    -moz-columns: 3 20em;
    columns: 3 20em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    margin-bottom: 2rem;
    max-width: calc(3 * 20em + 2 * 4em);
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.deck-sections section {
    margin-right: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    break-inside: avoid;
}

.deck-sections header {
    margin-top: 0;
    font-family: "Linux Biolinum", Palatino, sans-serif;
    font-variant: small-caps;
}

.deck-sections ul {
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    width: inherit;
}

.deck-sections li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.card-count {
    width: 1em;
    margin-right: 1em;
}

.deck-sections .mtgcard {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex: 1;
}

.deck-sections a {
    text-shadow: none;
    background: none;
}

.manacost > i {
    font-size: 11px;
    box-shadow: -1.5px 1px 0 rgba(0,0,0,0.85);
    -webkit-padding-before: 1px;
}