.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.deck-sections {
    -webkit-columns: 3 20em;
    -moz-columns: 3 20em;
    columns: 3 20em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    margin-bottom: 2rem;
    max-width: calc(3 * 20em + 2 * 4em);
}

footer {
    margin-bottom: 2rem;
}

.deck-sections section {
    margin-right: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    break-inside: avoid;
}

.deck-sections header {
    margin-top: 0;
    font-variant: small-caps;
}

.deck-sections ul {
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    width: inherit;
}

.deck-sections li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.card-count {
    width: 1em;
    margin-right: 1em;
}

.deck-sections .mtgcard {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex: 1;
}

.deck-sections a {
    text-shadow: none;
    background: none;
}

/* Shamelessly copying their visuals, with some tweaks. */
.manacost img {
    width: 15px;
    height: 15px;
    box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
    border-radius: 500px;
    display: inline-block;
}
