<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block head_title %}{% endblock %} &mdash; Gladiator League</title>
    <meta http-equiv="Content-Type" content="text-html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" crossorigin="anonymous" href="/public/css/fonts/lin-libertine/LinLibertine_R.woff2" as="font"
        type="font/woff2">
    <link rel="prefetch" crossorigin="anonymous" href="/public/css/fonts/lin-libertine/LinLibertine_RI.woff2" as="font"
        type="font/woff2">
    <link rel="prefetch" crossorigin="anonymous" href="/public/css/fonts/lin-libertine/LinLibertine_RBI.woff2" as="font"
        type="font/woff2">
    <link rel="preload" crossorigin="anonymous" href="/public/css/fonts/lin-libertine/LinBiolinum_R.woff2" as="font"
        type="font/woff2">
    <link rel="prefetch" crossorigin="anonymous" href="/public/css/fonts/lin-libertine/LinBiolinum_RI.woff2" as="font"
        type="font/woff2">
    <link rel="stylesheet" type="text/css" href="/public/css/libertine.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/tufte.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/tufte_ext.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/columns.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css" />
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="discord-link">
            <a href="https://discord.gg/ncpJVm5">
                <img src="/public/img/discord_badge.svg" alt="Discord" />
            </a>
        </div>
    </header>
    <header class="clear">
        <div class="title">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
        {% block subtitle %}{% endblock %}
    </header>
    {% block contents %}{% endblock %}
</body>

</html>
