<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Deck Viewer &mdash; Arena Highlander</title>
        <meta http-equiv="Content-Type" content="text-html;charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/public/css/libertine.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/tufte.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/tufte_ext.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/columns.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/deck.css"/>
        <script src="http://tappedout.net/tappedout.js"></script>
    </head>
    <body>
        <header>
            <div class="title">
                <h2>{{ user.name }}'s Deck &mdash; {{ league.title}} League</h2>
            </div>
        </header>
        <div>
            <div class="deck-sections">
                {% for (displaytype, section) in sections %}
                <section class="type-section">
                    <header>{{ displaytype }} ({{ section.len() }})</header>
                    <ul>
                        {% for card in section %}
                        <li><span class="card-count">{{ card.count }}</span><span class="mtgcard">{{ card.name }}</span>
                            {% if card.cost.is_some() %}
                            <span class="manacost">
                                {% for cost in card.cost.as_ref().unwrap() %}
                                <img src="/public/img/mana/mana-{{ cost }}.png" alt="{{ cost }}" />
                                {% endfor %}
                            </span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endfor %}
            </div>
        </div>
        <footer>
            Card images are provided by <a href="https://tappedout.github.io/">TappedOut</a><br/>
            Mana symbols taken from the Manamoji pack provided by <a href="https://scryfall.com">Scryfall</a>
        </footer>
    </body>
</html>