{% extends "base.html" %}
{% block head_title %}Deck Viewer{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/public/css/deck.css" />
<link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css" rel="stylesheet" type="text/css" /> 
<script src="http://tappedout.net/tappedout.js"></script>
{% endblock %}

{% block title %}
{{ user.name }}'s Deck &mdash; {{ league.title}} League
{% endblock %}

{% block subtitle %}
<div id="deck-details">
    <table>
        <thead>
            <tr>
                <td>Player</td>
                <td>League</td>
                <td>Record</td>
                <td title="Opponents' Match Win Percentage">OMW</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ league.title }}</td>
                <td style="text-align: right;">{{ meta.match_wins }}&ndash;{{ meta.match_losses}}</td>
                <td style="text-align: right;">{{ "{:.1}%"|format(meta.omw) }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block contents %}
<div id="deck-display">
    <div>
        <h3>Decklist</h3>
        <div class="deck-sections">
            {% for (displaytype, section) in sections %}
            <section class="type-section">
                <header>{{ displaytype }} ({{ section.count() }})</header>
                <ul>
                    {% for card in section.0 %}
                    <li><div class="card-count">{{ card.count }}</div><span class="mtgcard">{{ card.name }}</span>
                        {% if card.cost.is_some() %}
                        <div class="manacost">
                            {% for cost in card.cost.as_ref().unwrap() %}
                            <i class="ms ms-cost ms-{{ cost }}"></i>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>
    </div>
    <div id="deck-matches">
        <h3 class="table-title">Matches</h3>
        {% if matches.is_empty() %}
            <div id="no-matches">No matches reported yet. Go play some games!</div>
        {% else %}
        <table class="match-data">
            <thead>
                <tr>
                    <td>Result</td>
                    <td>Versus</td>
                    <td>Opponent</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                {% for match_ in matches %}
                <tr>
                    <td>{{ match_.wins() }}&ndash;{{ match_.losses() }}</td>
                    <td class="ellipses">
                        {% match match_.opp_deck() %}
                        {% when Some with (link) %}
                        <a href="{{ link }}">Decklist</a>
                        {% when None %}
                        <em>Active League Deck</em>
                        {% endmatch %}
                    </td>
                    <td>{{ match_.opponent() }}</td>
                    <td class="ellipses">{{ match_.date() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<footer>
    Card images are provided by <a href="https://tappedout.github.io/">TappedOut</a>.<br />
    Mana symbols are provided by Andrew Gioia's <a href="https://andrewgioia.github.io/Mana/index.html">Mana font</a>.
</footer>
{% endblock %}
