{% extends "base.html" %}
{% block head_title %}League Standings{% endblock %}
{% block title %}League Standings{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/public/css/standings.css" />
{% endblock %}

{% block contents %}
<div id="standings-container">
    <div id="decks">
        <h2 class="table-title">Decks</h2>
        <table>
            <thead>
                <tr>
                    <td>Player</td>
                    <td>Decklist</td>
                    <td class="align-center">Matches</td>
                    <td class="align-center">Games</td>
                </tr>
            </thead>
            <tbody>
                {% for record in contents %}
                <tr>
                    <td>{{ record.1.name }}</td>
                    <td>
                        {% if !record.0.active %}
                        <a href="/deck/{{ record.0.id }}">Decklist</a>
                        {% if record.0.resigned %}
                        <em>(Resigned)</em>
                        {% endif %}
                        {% else %}
                        <em>Pending League Completion</em>
                        {% endif %}
                    </td>
                    <td class="align-center">
                        {{ record.2.match_wins }} &ndash; {{ record.2.match_losses }}
                    </td>
                    <td class="align-center">
                        {{ record.2.game_wins }} &ndash; {{ record.2.game_losses }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="users">
        <h2 class="table-title">Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <td>Player</td>
                    <td class="align-center">Points</td>
                </tr>
            </thead>
            <tbody>
                {% for record in leaders %}
                <tr>
                    <td>{{ record.0 }}</td>
                    <td class="align-center">{{ record.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}